.Card {
  display: flex;
  margin: 10px;
  transition: all 300ms;
  text-decoration: none;
  color: lightgray;
}

.Card div {
  display: none;
  position: absolute;
  height: inherit;
  width: inherit;
  background-color: #000000ab;
  transition: all 200ms;
}

.Card span {
  text-align: center;
}

.Card img {
  width: inherit;
  height: inherit;
}

.Card:hover div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed lightgray;
  border-radius: 5px;
}

.add:hover {
  border-color: #3bb465;
}
