.Navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100vw;
  padding: 10px 100px;
  background-color: #0000009a;
  color: white;
  z-index: 10000;
} 

.Navbar nav {
  display: flex;
  align-items: center ;
}

.Navbar nav a {
  margin: 0 10px;
}

#FAQ {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  transition: all 200ms;
}

#FAQ:hover {
  color: #3BB465;
}