.SuccessBox {
  display: flex;
  justify-content: center;
  border: 1px solid darkgreen;
  box-shadow: 0 0 3px 3px #179443 ;
  padding: 15px;
  margin: 5px;
  background-color: rgb(0, 51, 0);
  color: lightgray;
  position: absolute;
  font-size: 1rem;
  font-weight: 300;
  z-index: 10000;
  top: 150px;
  left: 40px;
}

.fade {
  animation: fadeOut forwards 2s;
}

.hidden {
  display: none;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
    display: none;
  }
}